

.editElem{
    display: flex;
    flex-direction: column;
    margin: auto;
   
}


.editInputText{
    border: 1px solid red;
    display: block;
    font-size: 1.5rem;
    outline: none;
    padding: 5px;
    border-radius: 5px;


}
.editButtons{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.editButtons > *{
    /* width: 45%; */
    padding: 5px 25px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    
}